:root {
  --pico-primary: #843915 !important;
  --pico-primary-background: #843915 !important;
  --pico-primary-hover: #9c5535 !important;
  --pico-primary-hover-background: #9c5535 !important;
  --pico-primary-underline:var(--pico-primary) !important;
  --pico-primary-hover-underline:var(--pico-primary-hover) !important;
  --pico-primary-focus: rgba(0, 0, 0, 0.3) !important;
  .v3ti-tag { background: #843915 !important; }
}

@media only screen and (prefers-color-scheme: dark) {
    :host(:not([data-theme])), :root:not([data-theme]) {
        --pico-primary: #843915 !important;
        --pico-primary-background: #843915 !important;
        --pico-primary-hover: #9c5535 !important;
        --pico-primary-hover-background: #9c5535 !important;
        --pico-primary-underline:var(--pico-primary) !important;
        --pico-primary-hover-underline:var(--pico-primary-hover) !important;
        --pico-primary-focus: rgba(0, 0, 0, 0.3) !important;
        .v3ti-tag { background: #843915 !important; }
    }
}   